/build/
/nbproject/private/
/dist/
sourcedagile.iml
.idea/vcs.xml
.idea/sourcedagile.iml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/restlib.xml
.idea/libraries/org_netbeans_modules_java_j2seproject_copylibstask.xml
.idea/libraries/mysql_connector_java_5_1_23_bin.xml
.idea/libraries/lib1.xml
.idea/libraries/lib.xml
.idea/libraries/junit_4.xml
.idea/libraries/javax_ws_rs_api_2_0.xml
.idea/libraries/javaee_web_api_7_0.xml
.idea/libraries/javaee_endorsed_api_7_0.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/jsLinters/jshint.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/sourcedagile.iml
.idea/runConfigurations.xml
